*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.color1 {color: #121c07;}
.color2 {color: #124b41;}
.color3 {color: #f17ad8;}
.color4 {color: #f8b3c0;}
.color5 {color: #f8efc1;}

footer {
    background-color: #121c07;
    display: flex;
    justify-content: flex-end;
    grid-area: footer;
    margin-bottom: 0%;
}

.grillaGeneral {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header" 
    "main   aside"
    "footer footer";
    grid-template-columns: 5fr 2fr;
}
aside {
    grid-area: aside;
}

body {
    height: 100%;
    width: 100%;
    background-color: #f8b3c0;
}
header {
    width: 100%;
    grid-area: header;
    border: #121c07 solid 10px;
    height: 350px;
    background-position: center;
    background-color: transparent;
    background-image: url(https://media.istockphoto.com/photos/electric-drill-with-drill-bits-screws-on-dark-background-picture-id165886428?k=20&m=165886428&s=612x612&w=0&h=RSR9OOFQRJl7B4tv3nc9xjjyA9fTq-W1eI5V514tRmw=);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 100px;
    font-family: 'Staatliches', cursive; 
    color: #f8b3c0;
    padding: 80px;
    text-align: center;
}

.imgPromo {
    margin-top: 1%;
    width: 90%;
    height: auto;
}

main {
    grid-area: main;
}
h2 {
    color: #121c07;
    font-size: 50px;
    font-family: 'Staatliches', cursive; 
}
.destacados {
    grid-area: destacados;
}
.promos {
    grid-area: promos;
}
.card {
    grid-area: card;
    margin-left: 3%;
    margin-top: 1%;
    background-color: #f8efc1;
    width: 90%;
    border: 10px solid black;
    height: 40%;
    display: grid;
    grid-template-areas: 
    "cardImg cardTitle btn"
    "cardImg cardDescription btn";
    grid-template-columns: 2fr 6fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.cardImg {
    grid-area: cardImg;
    border: 3px #121c07 solid;
    width: 100%;
    height: 100%;
}
.cardImg:hover {
    transform: scale(2) translateX(100px);
    transition: all 2s;
}
.cardTitle { 
    text-align: center;
    grid-area: cardTitle;
    font-family: 'Staatliches', cursive; 
    font-size: 20px;
}

.cardDescription {
    grid-area: cardDescription;
    font-family: 'Roboto', sans-serif;
}
.btn {
    height: 20%;
    width: 80%;
    margin-top: 80%;
    margin-bottom: 80%;
    grid-area: btn;
    font-size: 20px;
    font-family: 'Staatliches', cursive; 
    text-align: center;
    display: block;
    color: #f8efc1;
    background-color: #121c07;
}


ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
h3 {
    text-align: center;
    grid-area: h3;
    font-size: 40px;
    font-family: 'Staatliches', cursive; 
    color: #f8efc1;
}

.redes {
    grid-area: redes;
    background-color: none;
    border: none;
}
li:hover {
    transform: scale(1.5);
    transition: all 1s;
}

.gridFooter {
    margin-right: 5%;
    display: grid;
    grid-template-areas: 
    "h3"
    "redes";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.sections {
    font-size: 20px;
    font-family: 'Staatliches', cursive; 
    background-color: #f8efc1;
    border: #121c07 double 3px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.bodyContacto {
    background-image: url(../images/horarios.jpg);
    height: 1000px;
}
.h2Ubicacion {
    margin-top: 20%;
}
.ubicacion {
    border: #121c07 solid 5px;
    height: auto;
    width: 70%;
}

.form {
    margin: 10% 35% 20% 15%;
    height: 60%;
    width: 50%;
    background-color: #f8efc1;
    border: #121c07 solid 20px;
    display: grid;
    /*gap: 3px;*/
    grid-template-areas: 
    "tituloForm     tituloForm  tituloForm  tituloForm"
    "nombre         nombre      inputN      inputN"
    "mail           mail        inputM      inputM"
    "telefono       telefono    inputT      inputT"
    "pFormSexo      pFormSexo   pFormSexo   pFormSexo"
    "divFormH       divFormM    divFormM    divFormO"
    "inputHombre    inputMujer  inputMujer  inputOtro"
    "pForm          pForm       select      select"
    "terminos       terminos    check       check"
    "comentarios    comentarios textarea    textarea"
    "reset          reset       enviar      enviar";
    grid-template-columns: 2fr 1fr 1fr 2fr;
}
div {
    text-align: center;
} 
.tituloForm {
    margin: 0%;
    font-size: 20px;
    text-align: center;
    grid-area: tituloForm;
} 

.nombre {
    border: #121c07 solid 1px;
    grid-area: nombre;
}
.inputN {
    border: #121c07 solid 1px;
    grid-area: inputN;
}
.inputM {
    border: #121c07 solid 1px;
    grid-area: inputM;
}
.inputT {
    border: #121c07 solid 1px;
    grid-area: inputT;
}
.inputHombre {
    border: #121c07 solid 1px;
    grid-area: inputHombre;
}
.inputMujer {
    border: #121c07 solid 1px;
    grid-area: inputMujer;
}
.inputOtro {
    border: #121c07 solid 1px;
    grid-area: inputOtro;
}

.mail {
    border: #121c07 solid 1px;
    grid-area: mail;
}

.telefono {
    border: #121c07 solid 1px;
    grid-area: telefono;
}

.pFormSexo {
    border: #121c07 solid 1px;
    grid-area: pFormSexo;
}
.pForm {
    border: #121c07 solid 1px;
    grid-area: pForm;
}
select {
    border: #121c07 solid 1px;
    grid-area: select;
}
.divFormH {
    border: #121c07 solid 1px;
    grid-area: divFormH;
}
.divFormM {
    border: #121c07 solid 1px;
    grid-area: divFormM;
}
.divFormO {
    border: #121c07 solid 1px;
    grid-area: divFormO;
}
.terminos {
    border: #121c07 solid 1px;
    grid-area: terminos;
}
.check {
    border: #121c07 solid 1px;
    grid-area: check;
    height: 60%;
    margin-top: 2%;
}
.comentarios {
    border: #121c07 solid 1px;
    grid-area: comentarios;
}
.textarea {
    border: #121c07 solid 1px;
    grid-area: textarea;
}
.enviar {
    border: #121c07 solid 1px;
    grid-area: enviar;
}
.reset {
    border: #121c07 solid 1px;
    grid-area: reset;
}

@media screen and (max-width: 1024px) {
h1 {
    font-size: 50px;
}
.card {
    justify-content: center;
    grid-template-areas: 
    "cardImg cardTitle"
    "cardImg cardDescription"
    "btn     btn";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
}
.cardDescription {
    margin: 2% 5% 2% 2%;
}
.btn {
    width: 30%;
    height: 50%;
    margin: 1% 40% 2% 40%;
}
.sections {
    font-size: 15px;
    border: solid 2px #121c07;
}
.cardTitle {
    text-decoration: underline;
}

.grillaGeneral {
    
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer";
    grid-template-columns: 1fr;
}

.form {
    margin-left: 25%;
    height: 65%;
    margin-bottom: 60%;
}
}



@media screen and (max-width: 600px) {
    h1 {
        color: #f8efc1;
        padding: 0%;
        font-size: 40px;
        margin: 10%;
    }
    .cardImg:hover {
        transform: scale(1.5);
        transition: all 2s;
    }
    header {
        border: #f8efc1 solid 10px;
    }
    .sections {
        margin-top: 25%;
        margin-bottom: 25%;
    }
    header nav ul li {
        margin-top: 25%;
    }
    header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    .cardDescription {
        font-size: 0%;
        color: transparent;
    }
    main {
        background-color: #121c07;
    }
    h2 {
        color: #f8efc1;
    }

    .card {
        margin-left: 25%;
        width: 50%;
        grid-template-areas: 
        "cardTitle"
        "cardImg"
        "btn"
        "cardDescription";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr 0fr;
    }
    aside {
        background-color: #121c07;
    }
    body {
        background-color: #121c07;
    }
    .btn {
        text-decoration: none;
        margin-left: 35%;
        margin-top: 10%;

    }
    .cardImg {
        margin-top: 2%;
    }
    .cardTitle {
        margin-top: 1%;
    }
    .gridFooter {
        margin: none;

    }
    h3 {
        color: #121c07;
    }
    footer {
        background-color: #f8efc1;
        display: block;
        align-items: center;
    }
    .asideContacto {
        background-image: url(../images/horarios.jpg);
    }
    .mainContacto {
        background-image: url(../images/horarios.jpg);
    }
    main form h2 {
        color: #121c07;
    }
}

