* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none; }

header {
  width: 100%;
  grid-area: header;
  border: #3e594c solid 10px;
  height: 350px;
  background-position: center;
  background-color: transparent;
  background-image: url(../images/fondoHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header; }
  @media screen and (max-width: 991px) {
    header {
      height: 280px; } }
  @media screen and (max-width: 600px) {
    header {
      border: #f8efc1 solid 10px; } }
  header h1 {
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    color: #e96a4a;
    padding: 80px;
    text-align: center; }
    @media screen and (max-width: 991px) {
      header h1 {
        padding: 0%;
        margin: 12% 10% 10% 10%;
        font-size: 60px; } }
    @media screen and (max-width: 600px) {
      header h1 {
        color: #f8efc1;
        padding: 0%;
        font-size: 40px;
        margin: 20% 10% 28% 10%; } }
  header .navbar {
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
    margin-top: -2%; }
    @media screen and (max-width: 991px) {
      header .navbar {
        margin: -29% 0% 0% 1%; } }
    @media screen and (max-width: 600px) {
      header .navbar {
        margin: -55% 0% 0% 1%; } }
    @media screen and (max-width: 991px) {
      header .navbar .container-fluid .navbar-toggler {
        background-color: #e96a4a; } }
    @media screen and (max-width: 600px) {
      header .navbar .container-fluid .navbar-toggler {
        background-color: #f8efc1; } }
    header .navbar .container-fluid .collapse .navbar-nav {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      width: 100%; }
      @media screen and (max-width: 991px) {
        header .navbar .container-fluid .collapse .navbar-nav {
          flex-flow: column;
          width: 25%; } }
      @media screen and (max-width: 600px) {
        header .navbar .container-fluid .collapse .navbar-nav {
          width: 50%; } }
      header .navbar .container-fluid .collapse .navbar-nav li:hover {
        transform: scale(1.5);
        transition: all 1s; }
      header .navbar .container-fluid .collapse .navbar-nav li .sections {
        font-size: 20px;
        font-family: 'Staatliches', cursive;
        background-color: #f8efc1;
        border: #3e594c double 3px;
        text-decoration: none;
        text-align: center;
        color: #3e594c; }
        header .navbar .container-fluid .collapse .navbar-nav li .sections:hover {
          color: #3e594c;
          text-decoration: none; }
        @media screen and (max-width: 991px) {
          header .navbar .container-fluid .collapse .navbar-nav li .sections {
            font-size: 15px;
            border: solid 2px #3e594c; } }

main {
  grid-area: main; }
  @media screen and (max-width: 600px) {
    main {
      background-color: #3e594c; } }
  main section {
    gap: 3px;
    grid-template-areas: "destacados" "card"; }
    main section h2 {
      color: #3e594c;
      font-size: 50px;
      font-family: "Staatliches", cursive;
      grid-area: destacados; }
      @media screen and (max-width: 600px) {
        main section h2 {
          color: #f8efc1; } }
    main section .card {
      grid-area: card;
      margin-left: 3%;
      margin-top: 1%;
      background-color: #f8efc1;
      width: 90%;
      border: 10px solid #3e594c;
      height: 40%;
      display: grid;
      grid-template-areas: "cardImg cardTitle btn" "cardImg cardDescription btn";
      grid-template-columns: 2fr 6fr 1fr;
      grid-template-rows: 1fr 2fr; }
      @media screen and (max-width: 991px) {
        main section .card {
          margin-top: 20px;
          justify-content: center;
          grid-template-areas: "cardImg cardTitle" "cardImg cardDescription" "btn     btn";
          grid-template-columns: 1fr 2fr;
          grid-template-rows: 1fr 2fr 1fr; } }
      @media screen and (max-width: 600px) {
        main section .card {
          border: #e96a4a solid 4px;
          height: 40%;
          margin-left: 13%;
          width: 75%;
          grid-template-areas: "cardTitle" "cardImg" "btn";
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 3fr 1fr; } }
      main section .card .cardImg {
        z-index: 50;
        grid-area: cardImg;
        border: 3px #3e594c solid;
        width: 100%;
        height: 100%; }
        @media screen and (max-width: 600px) {
          main section .card .cardImg {
            margin-top: 2%; } }
        main section .card .cardImg:hover {
          transform: scale(2) translate(200px, -70px);
          transition: all 3s; }
          @media screen and (max-width: 600px) {
            main section .card .cardImg:hover {
              transform: scale(1.5);
              transition: all 2s; } }
      main section .card .cardTitle {
        text-align: center;
        grid-area: cardTitle;
        font-family: "Staatliches", cursive;
        font-size: 30px; }
        @media screen and (max-width: 991px) {
          main section .card .cardTitle {
            font-size: 25px;
            text-decoration: underline; } }
        @media screen and (max-width: 600px) {
          main section .card .cardTitle {
            margin-top: 1%; } }
      main section .card .cardDescription {
        grid-area: cardDescription;
        font-family: "Roboto", sans-serif;
        font-size: 20px; }
        @media screen and (max-width: 1200px) {
          main section .card .cardDescription {
            font-size: 15px; } }
        @media screen and (max-width: 991px) {
          main section .card .cardDescription {
            margin: 2% 5% 2% 2%; } }
        @media screen and (max-width: 600px) {
          main section .card .cardDescription {
            display: none; } }
      main section .card .btnComp {
        display: flex;
        justify-content: center;
        background-color: #3e594c;
        height: 25%;
        width: 65%;
        margin: 100% 0% -200% 20%;
        grid-area: btn; }
        @media screen and (max-width: 991px) {
          main section .card .btnComp {
            width: 60%;
            height: 65%;
            margin: 2% 0% 0% 20%; } }
        @media screen and (max-width: 600px) {
          main section .card .btnComp {
            margin-top: 6%; } }
      main section .card .modal .modal-dialog .modal-content .modal-header {
        background-color: #3e594c; }
        main section .card .modal .modal-dialog .modal-content .modal-header h5 {
          font-family: "Staatliches", cursive;
          color: #f8efc1; }
      main section .card .modal .modal-dialog .modal-content .modal-body {
        background-color: #f8efc1;
        font-family: "Roboto", sans-serif;
        color: #3e594c; }
      main section .card .modal .modal-dialog .modal-content .modal-footer {
        background-color: #3e594c; }
        main section .card .modal .modal-dialog .modal-content .modal-footer .btn {
          color: #3e594c;
          background-color: #f8efc1; }

@media screen and (max-width: 600px) {
  .electrodomesticos {
    font-size: 30px; } }

footer {
  background-color: #3e594c;
  display: flex;
  justify-content: flex-end;
  grid-area: footer;
  margin-bottom: 0%; }
  @media screen and (max-width: 600px) {
    footer {
      background-color: #f8efc1;
      display: block;
      align-items: center; } }
  footer .gridFooter {
    margin-right: 5%;
    display: grid;
    grid-template-areas: "h3" "redes";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    @media screen and (max-width: 600px) {
      footer .gridFooter {
        margin: none; } }
    footer .gridFooter h3 {
      text-align: center;
      grid-area: h3;
      font-size: 40px;
      font-family: "Staatliches", cursive;
      color: #f8efc1; }
      @media screen and (max-width: 600px) {
        footer .gridFooter h3 {
          color: #3e594c; } }
    footer .gridFooter ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      footer .gridFooter ul li:hover {
        transform: scale(1.5);
        transition: all 1s; }
      footer .gridFooter ul li .redes {
        grid-area: redes;
        background-color: none;
        border: none; }

aside {
  grid-area: aside; }
  @media screen and (max-width: 600px) {
    aside {
      background-color: #3e594c; } }
  aside .promos {
    color: #3e594c;
    font-size: 50px;
    font-family: "Staatliches", cursive;
    grid-area: promos; }
    @media screen and (max-width: 600px) {
      aside .promos {
        color: #f8efc1; } }
  aside .imgPromo {
    border: 10px solid #3e594c;
    margin-top: 1%;
    width: 90%;
    height: auto; }
    @media screen and (max-width: 991px) {
      aside .imgPromo {
        width: 80%; } }
    @media screen and (max-width: 600px) {
      aside .imgPromo {
        border: 10px solid #f8efc1; } }

.car {
  z-index: 10;
  background-image: url(../images/fondoCarrousel.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: car; }
  .car .carousel .carousel-indicators {
    margin-bottom: -2rem; }
  .car .carousel div div .carouselImg {
    height: auto;
    width: 30%; }
    @media screen and (max-width: 991px) {
      .car .carousel div div .carouselImg {
        height: auto;
        width: 40%; } }
    @media screen and (max-width: 600px) {
      .car .carousel div div .carouselImg {
        height: auto;
        width: 60%; } }

.bodyContacto {
  background-image: url(../images/horarios.jpg);
  height: 1000px; }

@media screen and (max-width: 600px) {
  .mainContacto {
    background-image: url(../images/horarios.jpg); } }

.mainContacto .form {
  margin: 10% 35% 20% 15%;
  height: 75%;
  width: 60%;
  background-color: #f8efc1;
  border: #384d44 solid 20px;
  display: grid;
  grid-template-areas: "tituloForm     tituloForm  tituloForm  tituloForm" "nombre         nombre      inputN      inputN" "mail           mail        inputM      inputM" "telefono       telefono    inputT      inputT" "pFormSexo      pFormSexo   pFormSexo   pFormSexo" "divFormH       divFormM    divFormM    divFormO" "inputHombre    inputMujer  inputMujer  inputOtro" "pForm          pForm       select      select" "terminos       terminos    check       check" "comentarios    comentarios textarea    textarea" "reset          reset       enviar      enviar";
  grid-template-columns: 2fr 1fr 1fr 2fr; }
  @media screen and (max-width: 991px) {
    .mainContacto .form {
      margin-left: 25%;
      height: 65%;
      margin-bottom: 60%; } }
  @media screen and (max-width: 600px) {
    .mainContacto .form {
      height: 80%;
      width: 90%;
      margin: 14% 10% 50% 5%; } }
  .mainContacto .form .tituloForm {
    margin: 0%;
    font-size: 20px;
    text-align: center;
    grid-area: tituloForm; }
    @media screen and (max-width: 600px) {
      .mainContacto .form .tituloForm {
        color: #3e594c; } }
  .mainContacto .form .nombre, .mainContacto .form .inputN, .mainContacto .form .mail, .mainContacto .form .inputM, .mainContacto .form .telefono, .mainContacto .form .inputT, .mainContacto .form .pFormSexo, .mainContacto .form .divFormH, .mainContacto .form .inputHombre, .mainContacto .form .divFormM, .mainContacto .form .inputMujer, .mainContacto .form .divFormO, .mainContacto .form .inputOtro, .mainContacto .form .pForm, .mainContacto .form select, .mainContacto .form .terminos, .mainContacto .form .check, .mainContacto .form .comentarios, .mainContacto .form .textarea, .mainContacto .form .enviar, .mainContacto .form .reset {
    border: #3e594c solid 1px;
    grid-area: nombre; }
  .mainContacto .form .inputN {
    grid-area: inputN; }
  .mainContacto .form .mail {
    grid-area: mail; }
  .mainContacto .form .inputM {
    grid-area: inputM; }
  .mainContacto .form .telefono {
    grid-area: telefono; }
  .mainContacto .form .inputT {
    grid-area: inputT; }
  .mainContacto .form .pFormSexo {
    grid-area: pFormSexo; }
  .mainContacto .form .divFormH {
    grid-area: divFormH; }
  .mainContacto .form .inputHombre {
    grid-area: inputHombre; }
  .mainContacto .form .divFormM {
    grid-area: divFormM; }
  .mainContacto .form .inputMujer {
    grid-area: inputMujer; }
  .mainContacto .form .divFormO {
    grid-area: divFormO; }
  .mainContacto .form .inputOtro {
    grid-area: inputOtro; }
  .mainContacto .form .pForm {
    grid-area: pForm; }
  .mainContacto .form select {
    grid-area: select; }
  .mainContacto .form .terminos {
    grid-area: terminos; }
  .mainContacto .form .check {
    grid-area: check;
    height: 60%;
    margin-top: 2%; }
  .mainContacto .form .comentarios {
    grid-area: comentarios; }
  .mainContacto .form .textarea {
    grid-area: textarea; }
  .mainContacto .form .enviar {
    grid-area: enviar; }
  .mainContacto .form .reset {
    grid-area: reset; }

.asideContacto {
  grid-area: aside; }
  @media screen and (max-width: 600px) {
    .asideContacto {
      background-image: url(../images/horarios.jpg); } }
  .asideContacto .h2Ubicacion {
    margin-top: 20%;
    color: #f8efc1;
    font-size: 50px;
    font-family: "Staatliches", cursive; }
  .asideContacto a .ubicacion {
    border: #3e594c solid 5px;
    height: auto;
    width: 70%; }

body {
  height: 100%;
  width: 100%;
  background-color: #e96a4a; }
  @media screen and (max-width: 600px) {
    body {
      background-color: #3e594c; } }
  body .grillaGeneral {
    display: grid;
    gap: 20px;
    grid-template-areas: "header header" "car car"  "main   aside" "footer footer";
    grid-template-columns: 5fr 2fr; }
    @media screen and (max-width: 991px) {
      body .grillaGeneral {
        grid-template-areas: "header" "car" "aside" "main" "footer";
        grid-template-columns: 1fr; } }

div {
  text-align: center; }
