.bodyContacto {
    background-image: url(../images/horarios.jpg);
    height: 1000px;
}
.mainContacto {
    @include phone {
        background-image: url(../images/horarios.jpg);
    }
    .form {
        margin: 10% 35% 20% 15%;
        height: 75%;
        width: 60%;
        background-color: #f8efc1;
        border: #384d44 solid 20px;
        display: grid;
        grid-template-areas: 
        "tituloForm     tituloForm  tituloForm  tituloForm"
        "nombre         nombre      inputN      inputN"
        "mail           mail        inputM      inputM"
        "telefono       telefono    inputT      inputT"
        "pFormSexo      pFormSexo   pFormSexo   pFormSexo"
        "divFormH       divFormM    divFormM    divFormO"
        "inputHombre    inputMujer  inputMujer  inputOtro"
        "pForm          pForm       select      select"
        "terminos       terminos    check       check"
        "comentarios    comentarios textarea    textarea"
        "reset          reset       enviar      enviar";
        grid-template-columns: 2fr 1fr 1fr 2fr;
        @include tablet {
            margin-left: 25%;
            height: 65%;
            margin-bottom: 60%;
        }
        @include phone {
            height: 80%;
            width: 90%;
            margin: 14% 10% 50% 5%;
        }
        .tituloForm {
            margin: 0%;
            font-size: 20px;
            text-align: center;
            grid-area: tituloForm;
            @include phone {
                color: $color-2;
            }
        }
        .nombre {
            border: $color-2 solid 1px;
            grid-area: nombre
        }
        .inputN {
            @extend .nombre;
            grid-area: inputN;
        }
        .mail {
            @extend .nombre;
            grid-area: mail;
        }
        .inputM {
            @extend .nombre;
            grid-area: inputM;
        }
        .telefono {
            @extend .nombre;
            grid-area: telefono;
        }
        .inputT {
            @extend .nombre;
            grid-area: inputT;
        }
        .pFormSexo {
            @extend .nombre;
            grid-area: pFormSexo;
        }
        .divFormH {
            @extend .nombre;
            grid-area: divFormH;
        }
        .inputHombre {
            @extend .nombre;
            grid-area: inputHombre;
        }
        .divFormM {
            @extend .nombre;
            grid-area: divFormM;
        }
        .inputMujer {
            @extend .nombre;
            grid-area: inputMujer;
        }
        .divFormO {
            @extend .nombre;
            grid-area: divFormO;
        }
        .inputOtro {
            @extend .nombre;
            grid-area: inputOtro;
        }
        .pForm {
            @extend .nombre;
            grid-area: pForm;
        }
        select {
            @extend .nombre;
            grid-area: select;
        }
        .terminos {
            @extend .nombre;
            grid-area: terminos;
        }
        .check {
            @extend .nombre;
            grid-area: check;
            height: 60%;
            margin-top: 2%;
        }
        .comentarios{
            @extend .nombre;
            grid-area: comentarios;
        }
        .textarea{
            @extend .nombre;
            grid-area: textarea;
        }
        .enviar{
            @extend .nombre;
            grid-area: enviar;
        }
        .reset{
            @extend .nombre;
            grid-area: reset;
        }
    }
}
.asideContacto {
    grid-area: aside;
    @include phone {
        background-image: url(../images/horarios.jpg);
    }
    .h2Ubicacion {
        margin-top: 20%;
        color: $color-5;
        font-size: 50px;
        font-family: $fontPrincipal; 
    }
    a {
        .ubicacion {
            border: $color-2 solid 5px;
            height: auto;
            width: 70%;
        }
    }
}